@import "../scss/customs.scss";

body {
  font-size: 14px;
  margin: 0;
  font-family: 'Poppins';
  background-color: #AAC4FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
